<h2>Edit Treatment</h2>

<%= form_for @treatment, url: {action: "update"} do |f| %>
  <%= f.label :medicine %>
  <%= f.text_field :medicine %>

  <%= f.label :dosage %>
  <%= f.text_field :dosage %>

  <%= f.label :every %>
  <%= f.text_field :every %>

  <%= f.label :notes %>
  <%= f.text_area :notes %>

  <%= f.submit %>
<% end %>

<%= form_for @treatment, url: {action: "destroy"}, method: :delete do |f| %>
  <%= f.submit "Delete!", class: "delete" %>
<% end %>
