<h2>Edit Need</h2>

<%= form_for [@pet, @need] do |f| %>
  <%= f.label :kind %>
  <%= f.text_field :kind %>

  <%= f.label :symptoms %>
  <%= f.text_field :symptoms %>

  <%= f.label :notes %>
  <%= f.text_area :notes %>

  <%= f.submit %>
<% end %>

<%= form_for [@pet, @need], method: :delete do |f| %>
  <%= f.submit "Delete!", class: "delete" %>
<% end %>
