

<div class="pets index">
  <!-- <h2>User: <%#= current_user.email %></h2> -->
  <% @pets.each do |pet| %>
    <div class="pets_list">
      <p><%= link_to image_tag(pet.pict_url), pet_path(pet) %></p>
      <p><h3><%= pet.name %></h3></p>
    </div>
  <% end %>
</div>
  <div class="pets checklist">
    <h2>Checklist:</h2>
    <% @pets.each do |pet| %>
      <div>
        <p><%= pet.name %></p>

        <% pet.treatments.each do |treatment| %>
        <ul>
          <li>
            <%= check_box_tag(:treatment) %>
            <%= label_tag(:treatment, treatment.medicine) %>
            <%= label_tag(:treatment, treatment.dosage) %>
            <%= label_tag(:treatment, treatment.every) %>
          </li>
        </ul>
        <% end %>
      </div>
    <% end %>
  </div>
