<h1>Add Pet</h1>
<%= form_for @pet do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :breed %>
    <%= f.text_field :breed %>
  </p>
  <p>
    <%= f.label :pict_url %>
    <%= f.text_field :pict_url %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
