<div class="pets show">
  <h2><%= @pet.name %></h2>

  <%= link_to("Edit Pet", edit_pet_path(@pet), :class => 'action edit') %>

  <table class="detail" summary="Pet detail">
    <tr>
      <td><%= image_tag(@pet.pict_url, width: '200', height: '200') %></td>
      <td>
        <table>
          <tr>
            <!-- <td><%#= @pet.name %></td> -->
          </tr>
          <tr>
            <td><%= @pet.breed %></td>
          </tr>
          <tr>
            <td><%= @pet.sex %></td>
          </tr>
        </table>
      </td>
    </tr>
  </table>

  <h2> Special Needs</h2>
  <%= link_to("Create New Need", new_pet_need_path(@pet)) %>
  <ul>
    <% @pet.needs.each do |need| %>
    <li><%= need.kind %></li>
    <%= link_to("Edit Need", edit_pet_need_path(@pet, need)) %>
    <li>
      <h3>Treatments</h3>
      <%= link_to("Create New Treatment", new_need_treatment_path(need)) %>
      <ul>
        <% need.treatments.each do |treatment| %>
        <li>
          <%= treatment.medicine %>
        </li>
        <%= link_to("Edit Treatments", edit_need_treatment_path(need, treatment)) %>
        <% end %>
      </ul>
    </li>
    <% end %>
  </ul>
</div>
