<!DOCTYPE html>
<html>
<head>
  <title>SpecialNeedsPets</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='//fonts.googleapis.com/css?family=Lato|Source+Sans+Pro|Raleway' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="container">
    <nav class="nav">
      <ul>
        <li><%= link_to 'Home', pets_path %></li>
        <li><%= link_to 'Signout', destroy_user_session_path, :method => :delete %></li>
        <li><%= link_to 'Account', edit_user_registration_path %></li>
        <li><%= link_to("Add New Pet", new_pet_path(@pet), :class => 'action new') %></li>
      </ul>
    </nav>
    <%= yield %>
  </div>
</body>
</html>
